#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.xs {
  color: pink;
  visibility: visible;
}
.sm,
.md,
.lg,
.xl,
.xxl {
  color: black;
  visibility: hidden;
}

.theMain {
  background-color: bisque;
  width: 100%;
  height: 100%;
}
@media (min-width: 576px) {
  .xs {
    visibility: hidden;
  }
  .sm {
    visibility: visible;
  }
  .md {
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .sm {
    visibility: hidden;
  }
  .md {
    visibility: visible;
  }
  .lg {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .md {
    visibility: hidden;
  }
  .lg {
    visibility: visible;
  }
  .xl {
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  .lg {
    visibility: hidden;
  }
  .xl {
    visibility: visible;
  }
  .xxl {
    visibility: hidden;
  }
}

@media (min-width: 1400px) {
  .xl {
    visibility: hidden;
  }
  .xxl {
    visibility: visible;
  }
}
